<html>
    <head>
        <title>Handle POST requests with Flask</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>POST request with Flask</h1>
            </div>
            <div id="content">
                <form method="post" action="/reset/v1.0/generate">
                  <label for="yourname">Please enter your name:</label>
                  <input type="text" name="username" /><br />
                  <input type="submit" />
                </form>
            </div>
            </div>
        </div>
    </body>
</html>
 
