<html>
    <head>
        <title>Handle POST requests with Flask</title>
        <link rel=stylesheet type=text/css href="static/style.css">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Submit your token to reset password</h1>
            </div>
            <div id="content">
                <form method="post" action="/reset/v1.0/validate2">
                  <label for="username">Please enter user name:</label>
                  <input type="text" name="username" /><br />
                  <label for="code">Please enter your name:</label>
                  <input type="text" name="code" /><br />
                  <input type="submit" />
                </form>
            </div>
            </div>
        </div>
    </body>
</html>
 
